# fly.toml app configuration file generated for dariusbot on 2026-02-23T15:50:17Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dariusbot'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']


web = "uvicorn main:app --host 0.0.0.0 --port $PORT"
