aiogram==2.25.1
magic-filter
python-dotenv
aiohttp
multidict
attrs
yarl
idna
propcache
aiohappyeyeballs
aiosignal
frozenlist
babel
certifi
fastapi
uvicorn
h11














